{% extends 'user_panel.html' %}
{% block content %}
<div class="container" id="app"
    style="box-shadow: 0 0 30px -10px;padding: 45px 45px 35px;max-width: 1024px;margin-top: 60px;margin-bottom: 40px;">
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="打印文件">
            <el-upload class="upload-file" fileList="form.file" drag action="" :limit="1" :on-change="handleChange"
                :on-exceed="handleExceed" :auto-upload="false">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>
        </el-form-item>
        <el-form-item label="打印范围" style="max-width: 440px;">
            <el-input v-model="form.range"></el-input>
        </el-form-item>
        <el-form-item label="奇偶页">
            <el-radio-group v-model="form.eo">
                <el-radio label="">全部</el-radio>
                <el-radio label="odd">仅奇数页</el-radio>
                <el-radio label="even">仅偶数页</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="页面缩放">
            <el-radio-group v-model="form.scale">
                <el-radio label="noscale">实际大小</el-radio>
                <el-radio label="shrink">缩小过大页面</el-radio>
                <el-radio label="fit">合适</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="打印颜色">
            <el-radio-group v-model="form.color">
                <el-radio label="color">彩色</el-radio>
                <el-radio label="monochrome">单色</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="单双面">
            <el-radio-group v-model="form.duplex">
                <el-radio label="duplexlong">双面打印(沿长边翻转)[推荐]</el-radio>
                <el-radio label="duplexshort">双面打印(沿短边翻转)</el-radio>
                <el-radio label="simplex">单面打印</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="页面大小">
            <el-radio-group disabled v-model="form.size">
                <el-radio label="A4"></el-radio>
                <el-radio label="A5"></el-radio>
                <el-radio label="A2"></el-radio>
                <el-radio label="letter"></el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">打印</el-button>
            <el-button @click="onUpload">上传</el-button>
        </el-form-item>
    </el-form>
    <script>
        print_file = ""
        new Vue({
            el: '#app',
            data: function () {
                return {
                    form: {
                        range: '',
                        eo: '',
                        scale: 'shrink',
                        color: 'color',
                        duplex: 'duplexlong',
                        size: 'A4',
                    }
                }
            },
            methods: {
                onSubmit() {
                    this.doPost("")
                },
                onUpload() {
                    this.doPost("upload")
                },
                handleChange(file, fileList) {
                    print_file = file
                    console.log(file)
                },
                handleExceed(file, fileList) {
                    this.$alert('只能上传一个哦:(, 先试着把之前的文件删除掉吧', 'QAQ', {
                        confirmButtonText: '确定'
                    });
                },
                doPost(action) {
                    let formData = new FormData()
                    let print_settings = ''
                    if (print_file === '') {
                        this.$alert('你还没有选择需要打印的文件:(', 'QAQ', {
                            confirmButtonText: '确定'
                        });
                        return;
                    } else {
                        formData.append("print_file", print_file.raw);
                    }
                    if (this.form.range != '') {
                        print_settings += this.form.range
                    }
                    if (this.form.eo != '') {
                        if (print_settings != '') {
                            print_settings += ","
                        }
                        print_settings += this.form.eo
                    }
                    if (this.form.scale != '') {
                        if (print_settings != '') {
                            print_settings += ","
                        }
                        print_settings += this.form.scale
                    }
                    if (this.form.color != '') {
                        if (print_settings != '') {
                            print_settings += ","
                        }
                        print_settings += this.form.color
                    }
                    if (this.form.duplex != '') {
                        if (print_settings != '') {
                            print_settings += ","
                        }
                        print_settings += this.form.duplex
                    }
                    if (this.form.size != '') {
                        if (print_settings != '') {
                            print_settings += ","
                        }
                        print_settings += this.form.size
                    }
                    formData.append("print_settings", print_settings)
                    formData.append("action", action)

                    var request = new XMLHttpRequest();
                    request.open("POST", "./");
                    request.send(formData);
                }
            }
        })
    </script>
</div>
{% endblock %}